@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	
}

.banner{
width: 100%;
height: 100vh;
background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(class.png);


}


.navbar{
  width: 85%;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 25px 0px;
 margin: auto;
 
}
.logo{
width: 80px;
cursor: pointer;
}
.navbar .ab li{
list-style: none;
display: inline-block;
margin: 0 20px;
position: relative;

}
.navbar .ab li a{
text-decoration: none;
color: rgb(255, 255, 255);
text-transform: uppercase;
}
.navbar .ab li::after{
content:'';
height: 3px;  
width:0;
background: #ffffff;
position: absolute;
left: 0;
bottom: -10px;
transition: 0.5s;  
}
.navbar .ab li:hover::after{
width: 100%;
}
.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-transform: uppercase;
}
.glow1 {
  font-size: 80px;
  color: #fff;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-transform: lowercase;
}

@keyframes glow {
from{
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ffffff, 0 0 40px #ffffff, 0 0 50px #ffffff, 0 0 60px #ffffff, 0 0 70px #ffffff;
  }
  
to{
text-shadow: 0 0 20px #fff, 0 0 30px #979797, 0 0 40px #979797, 0 0 50px #979797, 0 0 60px #979797, 0 0 70px #979797, 0 0 80px #979797;
  }
}

.newsletter_title {
  font-family: "Noto Serif Display", serif;
  font-size: xx-large;
  font-weight: 250;
  text-align: center;
}
a {
  text-decoration: none;
  color: var(--dark);
  font-weight: 500;
  transition: 0.3s ease-in;
  border-bottom: 1px solid transparent;
  margin-bottom: 0.5rem;
  display: inline-flex;
}
.c-link:hover {
  cursor: pointer;
  color: white;
}
ul {
  list-style-type: none;
  padding: 0;
}

.flex {
  display: flex;
}
.footer_video {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  border: none;
}
.footer_inner {
  background: var(--light);
  backdrop-filter: blur(100px);
  border: 0.1px solid rgba(255, 255, 255, 0.571);
  border-radius: 5px;
  padding: 2rem;
  margin: 1rem 0;
}
.footer {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 100vh;

}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}



input {
  padding: 0.75rem 0;
  border: none;
  background: none;
  font-weight: 500;
  transition: border 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  border-radius: 0;
  width: 100%;
  font-size: 1.05rem;
  font-weight: bolder;
}
input:focus {
  outline: none;
}
input::placeholder {
  color: white;
}
@media (min-width: 675px) {
  .layout {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 2rem;
  }
  .w-50 {
    width: 50%;
  }
  .w-25 {
    width: 25%;
  }
}
form {
  position: relative;
}
svg {
  margin: 0.5rem;
}
.c-2 {
  margin-top: 3.5rem;
}

      
.content1 {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
       margin-left: 225px;
       
      }
   .par{
margin-left: 225px;
margin-right: 525px;
   }
   .content2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   margin-left: 225px;
   
  }
  .l1{
    margin-left: 225px;
    
  }
  .content3{
margin-left: 225px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

  }
  .ir{
width: 450px;
height: 250px;
float: right;
margin-right:30px; 

  }
  .par2{
    margin-left: 225px;
    margin-right: 420px;
       }

      .er{
    width: 250px;
    height: 250px;
    margin-right: 90px;;
    float: right;

    
      }       

      .content4{
        margin-left: 225px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        
          }   
          
.ht {
  margin-left: 225px;
  margin-right: 420px;

}          

.cv{
  width: 250px;
  height: 250px;
  margin-right: 90px;;
  float: right;

  
    }   
    .content5{
      margin-left: 225px;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      
        } 
    .pf{
      width: 350px;
      height: 225px;
      float: right;
      margin-right:20px; }
      
      .btn-3 {
        border: none;
        outline: none;
        padding: 10px 20px;
        border-radius: 50px;
        color: rgb(255, 255, 255);
        background: rgb(6, 4, 4);
        margin-bottom: 50px;
margin-left:600px;
        box-shadow: 0 3px 20px 0 #0000003b;
      }
      .btn-3:hover{
        cursor: pointer;
      }
      #myBtn {
        display: none; /* Hidden by default */
        position: fixed; /* Fixed/sticky position */
        bottom: 20px; /* Place the button at the bottom of the page */
        right: 30px; /* Place the button 30px from the right */
        z-index: 99; /* Make sure it does not overlap */
        border: none; /* Remove borders */
        outline: none; /* Remove outline */
        background-color: rgba(255, 0, 0, 0); /* Set a background color */
        color: rgba(28, 175, 163, 0.726); /* Text color */
        cursor: pointer; /* Add a mouse pointer on hover */
        padding: 15px; /* Some padding */
        border-radius: 30px; /* Rounded corners */
        font-size: 18px; /* Increase font size */
      }
      #myBtn img{
        width: 40px;
      }
     

      